* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

.header {
  display: flex;
  padding: 10px 5px;
  align-items: center;
  justify-content: space-between;
}

.header .header__switcher {
  color: black;
  cursor: pointer;
}

.header .header__switcher.black {
  color: red;
}

@media (min-width: 700px) {
  .header {
    padding: 30px 50px;
  }
}