@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  }

.App {
  min-height: 100vh;
}

.App.dark {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  padding: 10px 5px;
  align-items: center;
  justify-content: space-between;
}

.header .header__name {
  font-size: 35px;
  font-family: 'Rubik 80s Fade', cursive;
}

.header .header__switcher {
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 15px;
  color: white;
  background-color: black;
  font-weight: 700;
}

.header .header__switcher.black {
  background-color: white;
  color: black;
}

@media (min-width: 700px) {
  .header {
    padding: 30px 50px;
  }
}