* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App.dark {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  padding: 10px 5px;
  align-items: center;
  justify-content: space-between;
}

.header .header__switcher {
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  background-color: black;
}

@media (min-width: 700px) {
  .header {
    padding: 30px 50px;
  }
}